.user-title {
  font-size: 36px;
  margin-top: 0;
}

.user-desc {
  font-size: 18px;
  margin-bottom: 20px;
}

.user-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  margin-bottom: 30px;
}

.user-title {
  font-size: 24px;
  margin-top: 0;
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.user-list li {
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
}
