<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mb-3">Upcoming Events</h1>
    </div>
  </div>
  <button class="btn btn-primary btn-lg mb-3" (click)="openModal()">
    Add Event
  </button>
  <div class="row">
    <app-loader *ngIf="isLoading"></app-loader>
    <div *ngIf="!isLoading && !events">An error occur</div>
    <div *ngIf="!isLoading && events.length === 0">No record found</div>
    <ng-container *ngIf="!isLoading">
      <app-event
        *ngFor="let event of events"
        [singleEvent]="event"
        (doReload)="fetchEvents()"
        class="col-12 col-sm-12 col-md-6 col-lg-4 mx-auto mb-3"
      ></app-event>
    </ng-container>
  </div>
</div>
